@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

textarea,
input {
  outline: none;
  background: transparent;
}

html {
  height: 100vh;
  background: #13141A;
}

@keyframes fly {
  from {
    top: 100%;
  }
  to {
    top: -110%;
  }
}

.triangle {
  animation: fly linear infinite;
}

.loader {
  pointer-events: none;
  width: 25px;
  height: 25px;
  animation: spinner ease 1s infinite;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
}
@keyframes spinner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

img {
  pointer-events: none;
}

.pulse-animation::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background-color: #3961fb;
  z-index: -1;
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1.1, 1.2);
    opacity: 0;
  }
}

.slick-slider, .slick-track {
  width: 100%;
  display: flex !important;
}



.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url('https://www.freepnglogos.com/uploads/bubbles/transparent-bubble-clip-art-creation-creatures-4.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  animation: floating 10s infinite ease-in;
  transform: translateY(0);
  transition: opacity 1s ease-out;
  overflow: hidden;
}

.bubble:nth-child(1),
.bubble:nth-child(4),
.bubble:nth-child(5) {
  animation: verticalFloating infinite ease;
}

.bubble:nth-child(4) {
  animation-duration: 1s;
}

.bubble::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.freepnglogos.com/uploads/bubbles/transparent-bubble-clip-art-creation-creatures-4.png');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
}

@keyframes floating {
  0% {
    bottom: -100px;
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(100px);
  }
  100% {
    bottom: 1080px;
    opacity: 1;
    transform: translateX(-200px);
  }
}

.backgroundImageWillThey {
  background-image: url('/img/hype-background.png');
  background-position: center;
  background-size: cover;
}