@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  // background: #13141A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

textarea,
input {
  outline: none;
  background: transparent;
}

html {
  height: 100vh;
  background: radial-gradient(#1B1F2F 0%, #141519 100%);
}

@keyframes fly {
  from {
    top: 100%;
  }
  to {
    top: -110%;
  }
}

.triangle {
  animation: fly linear infinite;
}


@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate-slide-left {
  animation: slideLeft 1s ease;
}



@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate-right {
  animation: slideRight 1s ease;
}


.gradient-text {
  background: linear-gradient(90deg, #ffb639, #a26701);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.loader{
  pointer-events: none;
  width: 25px;
  height: 25px;
  animation: spinner ease 1s infinite;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
}
@keyframes spinner {
0%{
    transform: rotate(0turn);
}
100%{
    transform: rotate(1turn);
}
}

img {
  pointer-events: none;
}

.inter{
  font-family: "Inter", sans-serif;
}

.textMarket {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 72px; 
}

.spanMarket {
  color: #A1A7BB;
  font-weight: 400;
}

.mb-10.relative {
  position: relative;
  text-align: start; 
}

.hype-effect {
  position: absolute; 
  bottom: 0; 
  left: 439px; 
  transform: translateX(80%); 
  z-index: -1; 
  width: 30px; 
}

.imagemLatter2{
  display: none;
}

.imagemLTradeMobile{
  display: none;
}

.sessionPrimeira{
  display: none;
}


@media (max-width: 768px) {
  .sessionPrimeira{
    margin-top: 50px;
  }
  .grupoNamesMobile{
    .imagemLatter{
      display: none;
    }
    .imagemLatter2{
      display: flex;
    }
  }
  .tradeText{
    .imagemLTrade{
      display: none;
    }
    .imagemLTradeMobile{
      display: flex;
    }
  }
  .textMobile{
    font-size: 38px;
    line-height: 45px;

    .hype-effect{
      left: 276px;  
    }
    .spanText{
      font-size: 17px;
    }
  }
  .adjusteImagens{
    .poseidon{
      height: 620px;
    }
    .session{
      display: none;
    }
    .sessionPrimeira{
      display: flex;
      height: 480px;
    }
    .cardAtlanta{
      height: 360px;
    }
    .cardHype{
      height: 350px;
    }
  }
}
