@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

textarea,
input {
  outline: none;
  background: transparent;
}

html {
  height: 100vh;
  background: radial-gradient(#1b1f2f 0%, #141519 100%);
}

@keyframes fly {
  from {
    top: 100%;
  }
  to {
    top: -110%;
  }
}

.triangle {
  animation: fly linear infinite;
}

.loader {
  pointer-events: none;
  width: 25px;
  height: 25px;
  animation: spinner ease 1s infinite;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
}
@keyframes spinner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

img {
  pointer-events: none;
}

.pulse-animation::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background-color: #3961fb;
  z-index: -1;
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1.1, 1.2);
    opacity: 0;
  }
}

.slick-slider, .slick-track {
  width: 100%;
  display: flex !important;
}